html, body {
  margin: 0;
  height: 100%;
  color: #404241;
  font-family: Open Sans, sans-serif;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:active, a:visited {
  color: #404241;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -1px;
}

input[type=submit], button {
  border-radius: .2rem;
  font-size: 18px;
  background: #f64747;
  color: white;
  font-weight: 400;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  width: auto;
  outline: 0;
}

fieldset {
  border: none;
}

fieldset label {
  display: block;
  margin-left: 10px;
}

fieldset input[type=text] {
  line-height: 20px;
  font-size: 16px;
  padding: 10px;
  width: 450px;
  border: 2px solid #AAA;
  border-radius: 2px;
}

.muted {
  color: #AAA;
}

.italic {
  font-style: italic;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

#header {
  background-color: #fff200;
  padding: 10px 0px;
  overflow: hidden;
  width: 100%;
  line-height: 44px;
  border-bottom: solid 1px #DDDD00;
  position: fixed;
  top: 0;
}

#logo {
  float: left;
  width: 25%;
  color: #404241;
  font-size: 22px;
}

#search {
  float: left;
  width: 60%;
}

/* blue palette with #439fe0 */

.searchbox {
  height: 36px;
  margin: 4px;
  width: 300px;
  border: 0;
  outline: 0;
  padding: 0px 20px 0px 40px;
  font-size: 18px;
  font-family: Open Sans, sans-serif;
  background-image: url('./search.svg');
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 5px;
}

#search .searchbox {
  background-color: hsl(60, 100%, 85%);
  float: right;
}

#upload {
  float: left;
  width: 15%;
}

#upload button {
  float: right;
}

#main {
  margin-top: 64px;
  padding: 20px 0px;
  background-color: #e9e7e8;
  overflow: hidden;
}

#left-column {
  width: 66%;
  float: left;
}

#right-column {
  width: 34%;
  float: left;
}

.card {
  border-radius: 1px;
  background-color: white;
  box-shadow: 0 3px 3px -3px #666;
  padding: 10px;
  margin-bottom: 20px;
}

.gif-list {
  width: 720px;
}

.gif-list-title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.gif-list-game {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.gif-list-gif {
  cursor: pointer;
  margin: 10px 0px;
}

.gif-list-tags {
  margin: 5px 0px;
}

.gif-list-tag {
  border-radius: 1px;
  padding: 5px 10px;
  color: #FFF;
  background-color: #AAA;
  cursor: pointer;
  margin-right:5px;
  font-weight: 300;
  font-size: 13px;
}

.gif-list-tag:hover {
  background-color: #333;
}

.gif-list-links {
  text-align: right;
}

.gif-list-link {
  text-decoration: underline;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}

.gif-list-link:hover {
  text-decoration: none;
}

.card-title {
  font-weight: 700;
}

.card ul {
  margin-left: 20px;
}

.card .metadata-contents {
  margin-left: 20px;
}

.card .metadata-tag {
  cursor: pointer;
  text-decoration: none;
}

.card .metadata-tag:hover {
  text-decoration: underline;
}

#add-form {
  width: 500px;
  margin: 0 auto;
}